* {
  margin: 0;
}

.full-container {
  background-color: #1d180f;
  height: 100vh;
  color: white;
}

.list-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
h1 {
}
img {
  width: 20px;
}

.item {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: grey;
  width: 20em;
}
